* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do cabeçalho */
header {
    background-color: #2a04ff;
    color: white;
    text-align: center;
    padding: 1em 0;
}

/* Estilo dos produtos */
.products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2em 0;
}

.product {
    width: 300px;
    background-color: #c9c9c9;
    border: 1px solid #949494;
    padding: 1em;
    margin-bottom: 1em;
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1em;
}

.product h2 {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

.product .price {
    font-weight: bold;
    color: #333;
}
